* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  /* padding: 0; */
  margin: 0;
  list-style-type: square;
  list-style-position: inside;
}

span {
  font-weight: lighter;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  margin: 0;
  background: teal;
  padding: 15px 0;
}

.search-form {
  max-width: 500px;
  margin: 0 auto;
}

.search__input {
  width: 100%;
  display: inline-block;
  background: none;
  border: 1px solid #fff;
  font-size: 20px;
  padding: 10px 15px;
  color: rgb(5, 5, 5);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(43, 39, 39);
  opacity: 1; /* Firefox */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  margin: 2px;
  border: 1px solid rgb(15, 15, 15);
}

.gallery img {
  display: block;
  max-width: 100%;
}

.btnstyle {
  display: flex;
  align-self: centr;
  background: teal;
  font-size: 20px;
  margin: 7px auto;
}

.btnstyleloadmore {
  display: flex;
  align-self: centr;
  background: teal;
  font-size: 40px;
  margin: 7px auto;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.is-hidden {
  display: none;
}

.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 230px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
